/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --textlight: #E3C57E;
    --text: #220E19;
    --bordeaux : #571C33;
    --title : "bookmania", serif;
    --readingtext: "ivymode", sans-serif;
  }

  a{
    cursor: pointer;
  }


html,
body {
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/* Styles communs à toutes les pages */
body {
    color: #fff;
    font-family: var(--readingtext);
    background: url(images/background.png) center/cover fixed no-repeat;
    /* overflow: hidden; */
    
    
}

/* ===== Styles communs pour les boutons ===== */
#button-container {
    flex-grow: 2;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.48rem;
animation: slide-top 1s cubic-bezier(0.250,0.460,0.450,0.940) both;   
animation-delay: 7s;
}
@keyframes slide-top{
    0%{
        transform : translateY(130px);
        opacity: 0;
    }
    100%{
        transform : translateY(0);
        opacity: 1;
    }
}

#book-logo{
max-width: 22rem;
max-height: 22rem;
background-blend-mode: hard-light;
mix-blend-mode: hard-light;
flex-shrink: 0;

}
#book-logo img{
object-fit: contain;
max-width: 22rem;
max-height: 22rem;
}

.intro-accueil{
    display: flex;
width: 74.9375rem;
padding: 0.3125rem 6.8125rem;
flex-direction: column;
align-items: center;
gap: 0.5rem;
}

.emphasis{
    color: #E3C57E;
text-align: center;
font-feature-settings: 'ss01' on, 'liga' off;
font-family: Bookmania;
font-size: 2rem;
font-style: italic;
font-weight: 600;
line-height: normal;
}
.intro-p{
    color: #FCF8EF;
text-align: center;
font-family: Bookmania;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease-in-out, visibility 0s linear 1.5s;
    z-index: 5;
    backdrop-filter: blur(4px);
}
#main.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease-in-out, visibility 0s;
}
#button-style{
    display: inline-flex;
justify-content: center;
align-items: center;
}
#button-style::after{
    width: 13.17px;
    height: 93px;
content: url(images/rightglyph.svg);
}
#button-style::before{
width: 13.17px;
    height: 93px;
content: url(images/leftglyph.svg);

}
.redirect-button {
    display: flex;
    padding: 24px 48px;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #E3C57E;
border-bottom: 2px solid #E3C57E;
background: rgba(34, 14, 25, 0.24);
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-shadow: 0px 0px 0px rgba(237, 217, 171, 0.65);
    color: var(--textlight);
    text-decoration: none;
    transition: all 0.3s ease;
    backdrop-filter: blur(5.349999904632568px);
    font-feature-settings: 'ss11' on, 'ss16' on;
}

.redirect-button:hover {
    color: #EDD9AB;
    border-top: 2px solid #E3C57E;
border-bottom: 2px solid #E3C57E;
background: #571C33; 
text-shadow: 0px 0px 4px rgba(237, 217, 171, 0.65);
background-blend-mode: soft-light, normal;   
}

/* Header nav*/

header.lecture{
position: fixed;
top: 0;
z-index: 100;
}

header{
width: 100%;
display: grid;
grid-template-columns: auto auto 4fr repeat(3, auto);
grid-template-rows: auto;
gap: 1.25rem;
grid-row-gap: 0px;
padding: 2.5rem 6rem 2.5rem 1.5rem;
place-items: center;
}

/* MENU BTN*/
#logo{
    grid-area: 1 / 1 / 2 / 2;
}

#menu{
    grid-area: 1 / 2 / 2 / 3;
}
#menu img{
    width: 3rem;
height: 3rem;
aspect-ratio: 1/1;
}

#separateur{
    grid-area: 1 / 3 / 2 / 4;
}
#btn-lore{
    grid-area: 1 / 4 / 2 / 5;
    display:inline-flex;
align-items:center;
justify-content: center;
}
#btn-author{
    grid-area: 1 / 5 / 2 / 6; 
display:inline-flex;
align-items:center;
justify-content: center;
}
#btn-buy{
    grid-area: 1 / 6 / 2 / 7;
display:inline-flex;
align-items:center;
justify-content: center;
}
/* --- décoration boutons --- */
#btn-buy::after{
    height: 48px;
    width: 7.28px;
content: url(images/Group\ 2.svg);
}
#btn-buy::before{
height: 48px;
    width: 7.28px;
content: url(images/Group\ 1.svg);
}

#btn-author::after{
    height: 48px;
    width: 7.28px;
content: url(images/Group\ 2.svg);
}
#btn-author::before{
height: 48px;
    width: 7.28px;
content: url(images/Group\ 1.svg);

}

#btn-lore::after{
    height: 48px;
    width: 7.28px;
content: url(images/Group\ 2.svg);
}
#btn-lore::before{
height: 48px;
    width: 7.28px;
content: url(images/Group\ 1.svg);

}
.s-btn{
    display: inline-flex;
    padding: 13px 48px;
    border-top: 2px solid #E3C57E;
border-bottom: 2px solid #E3C57E;
background: rgba(34, 14, 25, 0.24);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    color: var(--textlight);
    text-decoration: none;
    transition: all 0.3s ease;
    backdrop-filter: blur(5.349999904632568px);
}
.s-btn:hover{
    color: #EDD9AB;
    border-top: 2px solid #EDD9AB;
border-bottom: 2px solid #EDD9AB;
background: #571C33;    
}
/* ===== Page d'accueil (index.html) ===== */


/* Loader vidéo qui s'affiche en plein écran */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 1s ease-in-out;
}

#loader video {
    /*width: 50%;
    height: 50%;*/
     object-fit: cover; 
}

/* ===== Page de diaporama (slides.html) ===== */

/* NAV CONTROL SKIP */
.skip{
    position: absolute;
    top: 52.5px;
    right: 75.5px;
    z-index: 500;
cursor: pointer;
}

/* Conteneur du diaporama en plein écran */
.slideshow-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: opacity 1.5s ease-in-out;
}

/* Chaque slide occupe tout l'écran et est superposée */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: grid;
}

/* La slide active est visible */
.slide.active {
    opacity: 1;
}

/* L'image prend tout l'espace du slide */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   transform: scale(1.1);
}

/* Animation de zoom appliquée lors de l'activation */
.slide.active img {
    animation: zoom 5s ease-in-out forwards;
    animation-delay: 0s;
    /* Assure que l'animation commence immédiatement */
}

@keyframes zoom {
    0% {
        transform: scale(1);
     }

    100% {
        transform: scale(1.1);
        
    }
}

/* Style du sous-titre positionné en bas et centré */
.caption {
    place-self: center;
    position: absolute;
    bottom: 0;
    padding-block: 100px 50px;
    padding-inline: 64px;
    min-height: 200px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}






/* ===== Page de contenu (content.html) ===== */
#intro {
    width: 100wh;
    max-height: 100vh;
    height: 100vh;
    background: url(images/bg-intro.png) lightgray 0px -1232.27px / 100% 274.929% no-repeat;
}

#intro img {
    object-fit:cover;
    height: 100%;
    width: 100%;
    
}
.chapter-title{
    display: flex;
    width: 100%;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        padding: 23.91px 109.026px;
        color: #E3C57E;
text-align: center;
font-family: IvyMode;
font-size: 128px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    .subtitle{
        padding: 23.91px 109.026px 17.681px 109.026px;
        color: #E3C57E;

text-align: center;
font-feature-settings: 'ss14' on, 'ss16' on;
font-family: Bookmania;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
}

.frame-overlay{
    display: flex;
width: 100%;

height: inherit;
flex-direction: column;
justify-content: center;
align-items: flex-start;

    background: rgba(34, 14, 25, 0.55);
background-blend-mode: multiply;
}

#partie1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0) url("/images/image3.png") no-repeat fixed center;
}

#partie1 img {
    width: 60%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    align-self: center;
}

.div1 p {
    width: 80%;
    padding-left: 15%;
    font-size: 1.2em;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    place-self: center;
}


/* 
** boutons de controls du son
*/

.bottom-content
{
display: flex;
width: 100%;
padding: 2.5rem 6rem;
justify-content: space-between;
align-items: center;
}

.playpause{
    width: 2.75rem;
    height: 2.75rem;
    cursor: pointer;
}
.replay
{
    background-image: url(images/state=off.png);
    background-repeat: no-repeat;
    background-size: 80%;
}
.sound
{
    background-image: url(images/state=on.png);
    background-repeat: no-repeat;
    background-size: 80%;
}